a {
    color: #B0C4DE;
}

body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
    font-size: 1.4em;
    line-height: 1.5em;
}

img {
    display: inline-block;
}

.circular--landscape {
    position: relative;
    width: 370px;
    height: auto;
    overflow: hidden;
    border-radius: 30%;
    float: right;
}
